
h1 {
	 padding-right:10px;
    text-align: center;
    background-color: #0000;
    border: transparent; 
    color: white;
    text-shadow: 2px 2px 8px #000000;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;

}
body {
	background-image: url("../img/download.jpeg"); 
	background-size: 100% 700px;
	/*overflow-y: hidden;*/
	/*position: fixed;*/
	background-repeat: no-repeat;
}
#menu-container{
	height: 700px;
}
#menubar > li{
	display: table-cell;
	padding-right: 100px;
	font-size: 27px;
}

.img1,.img2,.img3 {
	display: block;
	text-align: center;
}
p {
	font-family: 'Suranna', serif;
	font-size: 25px;
}

#menubar {
	display: none ;
}
#text {
	background-color: white;
}

li > a {
	color: white;
	text-shadow: 2px 2px 8px #000000;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;

	/*font-weight: bold; */

}
div > img {
	height: auto;
	
	  float: bottom;
    width: 500px;
    border: 1px solid #73AD21;

}
li > img{
	height: 150px;

}

#hunk{
	background: rgba(255, 255, 255, 0.3);
}
